<!doctype html>
<html {% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}

  <head>
    {%- block head %}
    <title>{% block title %}Storefront{{ title|default }}{% endblock title %}</title>

    {%- block metas %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {%- endblock metas %}

    {% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png', v=app_version)}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png', v=app_version)}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png', v=app_version)}}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest', v=app_version)}}">
    {% endblock favicon %}

    <link href="{{ url_for('static', filename='tabler/css/tabler.css', v=app_version)}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tabler/css/tabler-themes.css', v=app_version)}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tabler/css/tabler-payments.css', v=app_version)}}" rel="stylesheet" />

    <style>
      @import url("https://rsms.me/inter/inter.css");
    </style>

    {%- block head_styles %}
    {%- endblock head_styles %}

    {%- block head_scripts %}
    {%- endblock head_scripts %}

    {%- endblock head %}
  </head>

  <!-- <body class="layout-fluid"> -->

  <body>
    <div class="page">

      <div class="page-wrapper">

        <!-- BEGIN PAGE HEADER -->
        {% block page_header -%}
        {% endblock page_header -%}
        <!-- END PAGE HEADER -->

        <!-- BEGIN PAGE BODY -->
        <main id="content" class="page-body">
          {% block page_body -%}
          {% endblock page_body -%}
        </main>
        <!-- END PAGE BODY -->

      </div>
    </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{{ url_for('static', filename='tabler/js/tabler.min.js', v=app_version)}}" defer></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE SCRIPTS -->
    {% block page_scripts -%}
    {% endblock page_scripts -%}
    <!-- END PAGE SCRIPTS -->
  </body>
  {%- endblock html %}

</html>
